<div class="center hero-unit">
	<% if !signed_in? %>
		<h1>Sample App</h1>
		<%= link_to "Sign Up!", signup_path, :class => "btn btn-large btn-primary" %>
	<% else %>
		<div class="row">
			<aside class="span3">
				<section>
					<%= render 'shared/user_info' %>
				</section>
				<section>
					<%= render 'shared/micropost_form' %>
				</section>
			</aside>
			<div class="span7">
				<h3>Micropost Feed</h3>
				<%= render 'shared/feed' %>
			</div>
		</div>
	<% end %>
</div>