<% provide(:title, "Edit User") %>
<div class="center hero-unit">
	<h1>Update Profile</h1>
	<div class="row">
		<div class="span6 offset2">
			<%= form_for(@user) do |f| %>
				<%= render 'fields', :f => f %>
				<%= f.submit "Save Changes", :class => "btn btn-large btn-primary" %>
			<% end %>
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails" target="new">change</a>
		</div>
	</div>
</div>